
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
  padding: 40px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 20px;
}


nav ul li a {
    text-decoration: none;
   color:  #1c4979;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover {
    color: #6accf3;
    border-bottom: 2px solid #90c0f3;
}


main img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

main img:hover{
  transform: scale(1.2);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.container h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #333;
}

.container p {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff;
    color: #007bff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .container h1 {
        font-size: 2.5rem;
    }

    .container p {
        font-size: 1.5rem;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    animation: fadeInUp 1s ease-in-out;
}
